.booking-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .booking-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    width: 500px;
  }
  
  .booking-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .booking-form label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .booking-form input {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  .booking-form button[type="submit"] {
    font-size: 18px;
    background-color: #0765c9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .booking-form button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  .booking-confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    width: 500px;
  }
  
  .booking-confirmation h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .booking-confirmation p {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .booking-confirmation p:last-child {
    margin-bottom: 0;
  }
  