.container {
    margin-top: 20px;
  }
  
  .col-md-4 img {
    width: 100%;
  }
  
  .col-md-8 h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .col-md-8 p {
    font-size: 18px;
    line-height: 1.5;
  }